<!doctype html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Bootstrap CSS -->
        <link href="/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">


        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
        
        <title>{{ title }}</title>
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container-fluid">
                <a class="navbar-brand" href="/">Jam's Cipher</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link {{#if tabs.home}} active {{else}} {{/if}}" href="/">Home</a>
                        </li>    
                        <li class="nav-item">
                            <a class="nav-link {{#if tabs.ceasar}} active {{else}} {{/if}}" href="/ceasar">Ceasar</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link {{#if tabs.vigenere}} active {{else}} {{/if}}" href="/vigenere">Vigenere</a>
                        </li>
                    </ul>
                </div>
            </div>
            </nav>
        <div class="container">
            {{{ body }}}
        </div>
        <!-- Bootstrap Bundle with Popper -->
        <script src="/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
    </body>
</html>